@layer components {
	main {
		/*
		Margin between elements
		-----------------------
		Use class 'm-default'
		for div's.
		*/
		p,
		hr,
		ul,
		dl,
		form,
		table,
		address,
		blockquote,
		section,
		h1,
		.h1,
		h2,
		.h2,
		h3,
		.h3,
		h4,
		.h4,
		h5,
		.h5,
		h6,
		.h6,
		.m-default {
			& + p,
			& + hr,
			& + ul,
			& + dl,
			& + form,
			& + table,
			& + address,
			& + blockquote,
			& + section,
			& + .m-default {
				@apply mt-6;
			}

			& + h1:not(.h2, .h3, .h4, .h5, .h6),
			& + .h1,
			& + h2:not(.h1, .h3, .h4, .h5, .h6),
			& + .h2 {
				@apply mt-12;
			}

			& + h3:not(.h1, .h2, .h4, .h5, .h6),
			& + .h3,
			& + h4:not(.h1, .h2, .h3, .h5, .h6),
			& + .h4 {
				@apply mt-8;
			}

			& + h5:not(.h1, .h2, .h3, .h4, .h6),
			& + .h5,
			& + h6:not(.h1, .h2, .h3, .h4, .h5),
			& + .h4 {
				@apply mt-6;
			}
		}

		/*
		Styling of Headings
		-------------------
		Apply class to force
		a style. E.g.:
		<h1 class="h2">
		or
		<div class="h2">
		*/

		h1:not(.h2, .h3, .h4, .h5, .h6),
		.h1 {
			@apply text-4xl font-bold sm:text-6xl font-display;
		}

		h2:not(.h1, .h3, .h4, .h5, .h6),
		.h2 {
			@apply text-2xl font-bold sm:text-4xl font-display;
		}

		h3:not(.h1, .h2, .h4, .h5, .h6),
		.h3 {
			@apply text-xl font-normal sm:text-2xl font-display;
		}

		h4:not(.h1, .h2, .h3, .h5, .h6),
		.h4 {
			@apply text-lg font-normal sm:text-xl font-display;
		}

		h5:not(.h1, .h2, .h3, .h4, .h6),
		.h5 {
			@apply text-base sm:text-lg font-display;
		}

		h6:not(.h1, .h2, .h3, .h4, .h5),
		.h6 {
			@apply text-base font-normal sm:text-lg;
		}

		/*
		Styling of Lists
		----------------
		*/
		dl {
			@apply mt-2 grid-cols-2 gap-y-1 gap-x-5 px-5 sm:inline-grid;

			grid-template-columns: auto auto;

			dd + dt {
				@apply mt-5 sm:mt-0;
			}

			dt {
				@apply whitespace-nowrap font-semibold sm:text-right;
			}
		}

		ul {
			@apply list-disc pl-10;

			li + li {
				@apply mt-2;
			}

			ul {
				@apply mt-1;

				li + li {
					@apply mt-0;
				}
			}
		}
	}
}
