.v-input__details {
	align-items: flex-start !important;
}

.v-tooltip .v-overlay__content {
	background: rgba(var(--v-theme-surface-variant), 1) !important;
}

.v-messages {
	opacity: 1 !important;
}

.v-container {
	@apply max-w-5xl px-4 !important;
}

.v-main {
	@apply pb-6;
}

.v-footer {
	flex-grow: 0 !important;
}

.v-expansion-panel-text__wrapper {
	@apply py-6 !important;
}

.v-card--variant-elevated .v-card--variant-elevated {
	background-color: rgb(var(--v-theme-background)) !important;
}

.v-card-title {
	@apply mt-1 !important;
}
