.v-input__details {
	align-items: flex-start !important;
}

.v-tooltip .v-overlay__content {
	background: rgba(var(--v-theme-surface-variant), 1) !important;
}

.v-messages {
	opacity: 1 !important;
}

.v-container {
	@apply max-w-5xl px-4 !important;
}

.v-footer {
	@apply mt-6;
}