@import url('./_vuetify.css');
@import url('./_typography.css');
@import url('./_animations.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
		@apply font-body overflow-x-hidden;
	}

	#app {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		@apply overflow-x-hidden;
	}
}

@layer components {
	.container {
		@apply max-w-5xl;
	}
}

@layer utilities {
	.container-padding {
		@apply px-4 md:px-10;
	}

	.text-primary-adaptive {
		@extend %text-primary-adaptive;
	}
}
