@import './_vuetify.css';
@import './_typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

%text-primary-adaptive {
	@apply text-primary-900 dark:text-primary-500;
}

@layer base {
	html {
		scroll-behavior: smooth;
		@apply font-body;
	}

	#app {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	a:not(.no-style, .v-btn) {
		@extend %text-primary-adaptive;
		@apply border-b border-dotted border-primary font-semibold text-primary no-underline;

		&:hover {
			@apply border-solid;
		}
	}
}

@layer components {
	.container {
		@apply max-w-5xl;
	}
}

@layer utilities {
	.bg-image {
		background-image: url('/background.png');
		background-size: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		box-shadow: inset 0 -20px 30px 0px rgb(0  0  0 / 30%)
	}

	.container-padding {
		@apply px-4;
	}

	.text-primary-adaptive {
		@extend %text-primary-adaptive;
	}
}
